<p>create-product works!</p>
<app-list-product></app-list-product>
<p>Edit Product</p>
<form [formGroup]="createForm" (ngSubmit)="create()">
  <table>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="text" formControlName="price"></td>
    </tr>
    <tr>
      <td>Loaị sản phẩm</td>
      <select formControlName="category">
        <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
      </select>
    </tr>
    <tr>
      <td></td>
      <td><button type="submit">Tạo mới</button></td>
    </tr>
  </table>
</form>

